name: speech_xf
description: The plug-in integrates iFlytek's speech recognition and speech synthesis functions. Support for Android and IOS platforms.
version: 1.2.0
homepage: https://github.com/shijia2118/speech_xf.git
repository: https://github.com/shijia2118/speech_xf.git


environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=3.3.0"
  

false_secrets:
  - libmsc.so
  - iflyMSC

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  plugin:
    platforms:
      android:
        package: com.example.speech_xf
        pluginClass: SpeechXfPlugin
      ios:
        pluginClass: SpeechXfPlugin

 
